.container{
    width: 100%;
    height: 62px;
    background-color: gray;
}
.content{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.logo_icon{
    display: flex;
}
.links{
    gap: 12px;
    display: flex;
}