.image{
    display: flex;
}.image1{
    background-image: url("https://mobirise.com/extensions/naturalm4/natural-cosmetic/assets/images/background9.jpg");
    width: 25%;
    height: 100vh;
    background-repeat: no-repeat;
}
.image2{
    background-image: url("https://mobirise.com/extensions/naturalm4/natural-cosmetic/assets/images/image1.jpg");
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
}